/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	color: #424242;
	line-height: 1.4;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
.gray-rectangle {
	background: #424242;
	position: relative;
	width: 265px;
	font-size: 14px;
	padding: 12px;
	color: #eaeaea;
	border-radius: 3px;
	margin-bottom: 10px;
}

/* completed the down arrow/triangle with help
from: https://codingislove.com/css-speech-bubbles/ */
.down-arrow:before {
	width: 0px;
	height: 0px;
	position: absolute;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 8px solid #424242;
	right: 32px;
	bottom: -8px;
	content: "";
}

.main-flex-container {
	border: solid #eaeaea 2px;
	width: 265px;
	height: auto;
	margin-top: 5px;
	margin-bottom: 8px;
	padding-bottom: 10px;
}

/* used this site to help configure the flexbox:
https://dev.to/drews256/ridiculously-easy-row-and-column-layouts-with-flexbox-1k01 */
.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

.column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 1
}

.double-column {
	display: flex;
	flex-direction: column;
	flex-basis: 100%;
	flex: 2;
}

.orange-progress-bar {
	height: 14px;
	border-bottom: solid #eaeaea 1px;
	background: #EF5F3C;
}

.gray-progress-bar {
	background: #eaeaea;
	border-bottom: solid #eaeaea 1px;
	height: 14px;
}

.sentence1 {
	font-size: 14px;
	text-align: center;
	margin: 10px;
}

.orange-text {
	color:#EF5F3C;
	font-weight: bold;
}

.sentence2 {
	font-size: 14px;
	text-align: left;
	margin: 10px;
}

.donation-text-box {
	border: solid #eaeaea 2px;
	text-align: left;
	margin-left: 14px;
	margin-top: 12px;
	font-size: 18px;
	padding: 8px;
	width: 110px;
	height: 40px;
	border-radius: 3px;
}

.give-now-btn {
	background: #1CBC2C;
	color: #eaeaea;
	text-align: center;
	margin-right: 14px;
	margin-top: 12px;
	margin-left: 10px;
	font-size: 18px;
	padding: 8px;
	width: 110px;
	height: 40px;
	border-radius: 3px;
}

.sentence3 {
	color: #20A1D4;
	font-style: italic;
	font-weight: bold;
	font-size: 14px;
	margin-left: 14px;
	text-align: left;
	margin-top: 12px;
}

.button-container {
	width: 265px;
	height: 100px;
	margin: 0 auto;
}

.button-style {
	background: #eaeaea;
	color: #424242;
	font-weight: bold;
	font-size: 12px;
	border-radius: 3px;
	border: groove #eaeaea 2px;
	padding: 6px;
	text-align: center;
}

.save-btn {
	margin-right: 5px;
	width: 120px;
	height: 35px;
}

.tell-btn {
	margin-left: 12px;
	width: 120px;
	height: 35px;
}